<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Частые слова в сообществах Вконтакте</title>
</head>
<body>
<center>
<h1>План действий</h1>
	<p> 1) Определитесь с тематикой </p>
	<p> 2) Выберите 10 сообществ </p>
	<p> 3) Введите в поля ввода название сообществ из адресной строки</p>
	<p> Например, если ссылка на сообщество <i>https://vk.com/happy</i> необходимо ввест только <i>happy</i> </p>
    <form action="">
        <p><b>Сообщество №1</b> <input type="text" name="community_1" value=""></p>
		<p><b>Сообщество №2</b> <input type="text" name="community_2" value=""></p>
		<p><b>Сообщество №3</b> <input type="text" name="community_3" value=""></p>
		<input type="submit" value="Отправить">
	</form>
	
</center>	
</body>
</html>