<!DOCTYPE html>

<!-- Everything before <html> tag is used to beautify the webpage. You can copy it to your website without changing it for the same effect. -->

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Привет!</title>
</head>

<body>
<center>
	<h1>Ститистика по сообществам</h1>
	<p>  График частотности слов в сообществе №1 </p>
	<p><img src="{{url_for('static', filename='plot_1.png')}}" width="600" height="300"  /> </p>
	 
	<p>  График частотности слов в сообществе №2 </p>
	<p><img src="{{url_for('static', filename='plot_2.png')}}" width="600" height="300"  />
	     </p>
	
	<p>  График частотности слов в сообществе №3 </p>
	<p><img src="{{url_for('static', filename='plot_3.png')}}" width="600" height="300"  />
	   
	<p>  График-сравнение по всем сообществам </p>
	<p><img src="{{url_for('static', filename='plot_all.png')}}" width="600" height="300"  /> </p>
	
</center>
</body>

</html>