<!DOCTYPE html>

<!-- Everything before <html> tag is used to beautify the webpage. You can copy it to your website without changing it for the same effect. -->

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>

<body>
<center>
	<form action='http://127.0.0.1:5000/result'>
	<fieldset>
	<legend><b> Поиск ответов по ключевым словам </b></legend>
		Выберите пол информанта<br>
		<input type="radio" name="sex_search" value= "man" checked>Мужчина<br>
		<input type="radio" name="sex_search" value= "woman">Женщина<br>
		<br>
		Введите одно из предложенных слов, жестовое обозначение которого вы хотите узнать: <br>
		алкоголь, пить, компьютер, книга, любить <br>
		
		<input type="text" name="word_search"><br>
		<br>
		<p><input type="submit" value="Поиск"></p>
		<br>
	<p><a href ='/'>Главная страница </a></p>
	<p><a href ='/json'>Json со всеми введенными данными </a></p>	
		
	</form>
</center>
</body>

</html>